.cart-details {
    margin-left: 20px;
    background-color: antiquewhite;

}

.cart-details img {
    width: 60%;
    height: fit-content;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 15px;
}

.list-btn {
    height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 75px;
    border-radius: 10px;
    border: none;
    background-color: skyblue
}