.exercise {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercise h1 {
    text-align: center;
    color: blue;
    font-weight: 500;
    margin-top: 50px;
}

.exercise h2 {
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px;
}

.cart-container {
    background-color: lightgrey;

}

.cart-info {
    text-align: center;

}